h2 {
  margin: 18px 0px 18px 0px !important;
  font: 100 18px 'Roboto', sans-serif;
  font-weight: bolder;
}

.mat-toolbar>.mat-raised-button {
  margin: 10px;
}

.input {
  height: 34px;
}

.select {
  height: 33px;
}
