<mat-grid-list cols="5" rowHeight="5:1">
  <mat-grid-tile>
    <mat-form-field>
      <input type="number" matInput placeholder="Entidade requisitante" [(ngModel)]="lockSite.originId">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="number" matInput placeholder="Referência/Processo do pedido" [(ngModel)]="lockSite.requestId">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="datetime-local" matInput placeholder="Data do pedido" [(ngModel)]="lockSite.requestDate">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="text" matInput placeholder="Titular dos direitos" [(ngModel)]="lockSite.contentOwner">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="datetime-local" matInput placeholder="Data da Detecção" [(ngModel)]="lockSite.detectionDate">
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" rowHeight="5:1">
  <mat-grid-tile>
    <mat-form-field>
      <input type="datetime-local" matInput placeholder="Data de Inicio do Bloqueio" [(ngModel)]="lockSite.validFrom">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="datetime-local" matInput placeholder="Data de Fim do Bloqueio" [(ngModel)]="lockSite.validTo">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-select placeholder="Estado do Registo" [(ngModel)]="lockSite.lockStatus">
        <mat-option *ngFor="let state of status" [value]="state">
          {{getStatus(state)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<h2>Sites</h2>
<mat-grid-list cols="5" *ngFor="let site of lockSite.sites; let i = index" rowHeight="5:1">
  <mat-grid-tile>
    <mat-form-field>
      <input type="text" matInput placeholder="Site URI" [(ngModel)]="lockSite.sites[i].siteuri">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="text" matInput placeholder="Site IP" [(ngModel)]="lockSite.sites[i].siteip">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input type="text" matInput placeholder="Site URL" [(ngModel)]="lockSite.sites[i].siteurl">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <span *ngIf="i == lockSite.sites.length-1">
      <button mat-raised-button (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </mat-grid-tile>
</mat-grid-list>
<h2>Files</h2>
<mat-grid-list cols="5" *ngFor="let file of lockSite.files; let i = index" rowHeight="5:1">
  <mat-grid-tile>
    <a href="#">{{lockSite.files[i].file}}</a>
  </mat-grid-tile>
  <mat-grid-tile>
    <span *ngIf="i == lockSite.files.length-1">
      <button mat-raised-button (click)="add()">
        <mat-icon>attachment</mat-icon>Anexar ficheiro
      </button>
    </span>
  </mat-grid-tile>
</mat-grid-list>

<mat-toolbar>
  <button mat-raised-button (click)="delete()">
    <mat-icon>delete</mat-icon> Limpar
  </button>
  <button mat-raised-button (click)="add()">
    <mat-icon>save</mat-icon> Adicionar
  </button>
  <button mat-raised-button (click)="process()">
      <mat-icon>schedule</mat-icon> Processar
    </button>
</mat-toolbar>