h2 {
  margin: 18px 0px 18px 0px !important;
  font: 100 18px 'Roboto', sans-serif;
  font-weight: bolder;
}

.mat-toolbar>.mat-raised-button {
  margin: 10px;
}

.input {
  height: 34px;
}

.select {
  height: 33px;
}



::ng-deep .afu-select-btn {
  color: #000 !important;
  background-color: #fff !important;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

::ng-deep .afu-reset-btn {}
::ng-deep .afu-upload-btn {
  color: #000 !important;
  background-color: #fff !important;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
::ng-deep .afu-dragndrop-box {}
::ng-deep .afu-dragndrop-text {}
::ng-deep .afu-constraints-info {
  color: #000 !important;
  background-color: #fff !important;
}
::ng-deep .afu-valid-file {}
::ng-deep .afu-invalid-file {}
::ng-deep .afu-progress-bar {}
::ng-deep .afu-upload-status {
  color: #000 !important;
  background-color: #fff !important;
}
::ng-deep .afu-attach-pin {}