<table mat-table [dataSource]="data.sites" class="mat-elevation-z8" *ngIf="data.sites != ''">
    <ng-container matColumnDef="siteuri">
        <th mat-header-cell *matHeaderCellDef> Site URI </th>
        <td mat-cell *matCellDef="let element"> {{element.siteuri}} </td>
    </ng-container>

    <ng-container matColumnDef="siteip">
        <th mat-header-cell *matHeaderCellDef> Site IP </th>
        <td mat-cell *matCellDef="let element"> {{element.siteip}} </td>
    </ng-container>

    <ng-container matColumnDef="siteurl">
        <th mat-header-cell *matHeaderCellDef> Site URL </th>
        <td mat-cell *matCellDef="let element"> {{element.siteurl}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="data.colsToShow"></tr>
    <tr mat-row *matRowDef="let row; columns: data.colsToShow;"></tr>
</table>
<table mat-table [dataSource]="data.history" class="mat-elevation-z8" *ngIf="data.history != ''">
        <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
        </ng-container>
    
        <ng-container matColumnDef="who">
            <th mat-header-cell *matHeaderCellDef> Quem </th>
            <td mat-cell *matCellDef="let element"> {{element.who}} </td>
        </ng-container>
    
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Acção </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="data.colsToShow"></tr>
        <tr mat-row *matRowDef="let row; columns: data.colsToShow;"></tr>
    </table>