td.mat-cell {
    padding: 10px;
}

th.mat-header-cell {
    padding: 10px;
}

tr.mat-header-row {
    background-color: rgb(255, 118, 55);
}

tr.mat-row:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

tr.mat-row:nth-child(even) {
    background-color: white;
}

table {
    width:500px;
}